# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Node
node_modules/
dist/
build/
*.log
*.cache
.pnpm-store/
